*{
    padding: 0px;
    margin: 0px;
    
}
.whole-img-container{
     display: flex;
     flex-wrap: wrap;
     
    
}
.seperate-img-container{
    margin-top: 160px;
    height: 100px;
    width: 100px;
   
}
img{
    height: 250px;
    width: 250px;
    margin-left: 50px;
    border-radius: 20px;
   
    
}
.whiteforest{
    margin-left: 260px;
}
.choco1{
    position: absolute;
    top: 160px;
    left: 620px;
    
}
.red-velvet{
    position: absolute;
    top: 160px;
    left: 930px;
}
.titlename{
    position: absolute;
   margin-left: 100px;
   margin-top: 30px;
}
.titleprize{
    position: absolute;
    margin-top: 60px;
    margin-left: 75px;
}
.titlename1{
    position: absolute;
    margin-left: 320px;
    margin-top: 30px;
 }
.titleprize1{
    position: absolute;
    margin-top: 60px;
    margin-left: 290px;
}
.titlename2{
    position: absolute;
    margin-left: 520px;
    margin-top: 285px;
 }
.titleprize2{
    position: absolute;
    margin-top: 315px;
    margin-left: 500px;
}
.titlename3{
    position: absolute;
    margin-left: 740px;
    margin-top: 285px;
 }
.titleprize3{
    position: absolute;
    margin-top: 315px;
    margin-left: 715px;
}
.titlenameveg{
    position: absolute;
   margin-left: 130px;
   margin-top: 30px;
}
.titleprizeveg{
    position: absolute;
    margin-top: 60px;
    margin-left: 120px;
}
.samosa{
    position: absolute;
    top: 560px;
    left: 00px;
}
.titlename-sam{
    position: absolute;
   top: 850px;
   left: 130px;
  
}
.titleprize-sam{
    position: absolute;
    top: 885px;
    left: 80px;
}
.img-detail2{
    position: absolute;
    width:100%;
}
.pani-puri{
    position: absolute;
    top: 560px;
   margin-right: 200px;
   left: 310px;
}
.titlename-pani{
    position: absolute;
   top: 850px;
   left: 440px;
  
}
.titleprize1-pani{
    position: absolute;
    
      top: 885px;
   left: 440px;
}
.bhel-puri{
    position: absolute;
    top: 560px;
   margin-right: 200px;
   left: 630px;
}
.titlename-bhel{
    position: absolute;
   top: 850px;
   left: 750px;
  
}
.titleprize-bhel{
    position: absolute;
    
      top: 885px;
      left: 740px;
}
.dahi-puri{
    position: absolute;
    top: 560px;
   margin-right: 200px;
   left: 940px;
}
.titlename-dahi{
    position: absolute;
   top: 850px;
   left: 1070px;
  
}
.titleprize-dahi{
    position: absolute;
    
      top: 885px;
      left: 1060px;
}