*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
.App{
   
    background-color: rgb(172, 84, 84);
    height: 432px;
    width: 100%;
    
   
   
}
#back-imge{
    margin: 0px;
    width:fit-content;
    height: 712px;
   
}

#nav-bar{
   
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: rgb(120, 27, 206);
    display: inline;  
    color: white;
    border-radius: 2px;
    width: 100%;
    scroll-behavior: smooth;
    top: 10px;
    

}
.nav-element{
    position: absolute;
    display: flex;
  
    display: inline; 
    color: white;
    justify-content: flex-end;
    right: 1px;
    margin-top: 25px;   
}
.myA{
    display: inline-block;
    scroll-behavior: smooth;
    color: white;
  
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin-right: 40px;
    padding: 5px;
    border-radius: 7px;
    transition: 0.5s;
    animation-duration: 1s;
    
}
.myA:hover{
    
    transform: scale(1.1);
    
}
#cake{
    display: flex;
    display: inline-block;
    position: absolute;
    position: fixed;
    color: rgb(15, 15, 15);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    margin-left: 30px;
    transition: 0.5s;
    text-decoration: none;
    z-index: 8;
    
    
}
#cake:hover{
    transform: scale(1.11);
    z-index: 1.3;
}


.smallCont{
    
    display: flex;
    display: inline-block;
    height: 100px;
    position: absolute;
    color: white;
    text-align:  center;
    align-items: center;
    margin-left: 40%;
    top: 230px;
    font-size: 20px;
}
#btn{
    
    padding: 15px;
    margin: 30px;
    scroll-behavior: smooth;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 30px;
    text-align: center;
    padding-right: 30px;
    transition: 0.5s;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(253, 253, 253);
    cursor: pointer;
 

      
}
#btn:hover{
    transform: scale(1.07);
    background-color: rgba(196, 193, 193, 0.998);
}
#content-cakes1{
    z-index: 5;
    top: 1110px;
    left: 110px;
   
}
#content-cakes2{
    z-index: 5;
    top: 1110px;
    left: 475px;
}
#content-cakes3{
    z-index: 5;
    top: 1110px;
    left: 830px;
}
.content-image{
    height: 300px;
    width: 200px;
    position: absolute;
    transition: 0.3s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    
}
.content-image:hover{
    transform: scale(1.07);
}